.sidebar {
  width: 50%;
  min-width: 300px;
  padding-left: 3%;
  padding-top: 35px;
  .instructions {
    width: 93%;
  }
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.css {
  width: 93%;
  font-size: 20px;
  height: 250px;
  border-radius: 4px;
  margin-bottom: 20px;
  background-color: #ccc;
  display: flex;
  overflow: hidden;
}

.pre-css {
}
.pre-css-style {
  padding-left: 10px;
}
.right-css {
  width: 85%;
  padding: 10px;
}
.css-style {
  padding-left: 10px;
  width: 100%;
  textarea {
    font-size: 20px;
    padding: 0;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    overflow: auto;
    background-color: white;
  }
}

.after-css {
  margin-top: -4px;
  .finish-level-button {
    float: right;
    margin-top: 5px;
    border-radius: 4px;

  }

  .finish-level-button:enabled {
    background-color: rgb(253,188,78);
  }
}

.line-numbers {
  color: #ccc;
  background-color: rgba(94, 94, 94, .3);
  padding-top: 13px;
  width: 25px;
  height: 240px;
  text-align: right;
}
