@import 'css';
@import 'sky';

h2 {
  margin: 0;
}

body {
  display: flex;
  min-width: 600px;
  margin: 0;
  font-family: sans-serif;
}

code {
  background-color: #ccc;
  padding: 0.10em;
}

.game {
  box-sizing: border-box;
  width: 50%;
  height: 75vh;
  top: 0;
  left: 0;
  margin-right: -40px;
  padding: 20px;
  position: relative;
  border-bottom-left-radius: 10px;
  background-color: rgba(73, 238, 149, 1);
  display: flex;
  align-self: flex-end;
  justify-content: center;
  .forest, .houses {
    padding: 0 10px;
    display: flex;
    position: absolute;
    padding: 20px;
    width: 90%;
  }
}


.level-buttons {
  display: flex;
  .level-text {
    padding: 0 10px;
  }
}
