.forest, .houses {
  display: flex;
  position: absolute;
  width: 90%;
}

.forest {
  z-index: 20;
}

.houses {
  .house {
    width: 128px;
    height: 128px;
  }
}
.gnome {
  height: 90px;
  width: 50px;
  padding: 39px;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
}
