

.forest {
  z-index: 20;
}

.houses {
  .house {
    width: 128px;
    height: 128px;
  }
}
.gnome {
  height: 90px;
  width: 50px;
  margin: 0 39px;
  padding-top: 39px;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
}
